<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="json2hl7.ZPM">
    <Module>
      <Name>json2hl7</Name>
      <Description>Convert JSON to HL7</Description>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="hcd.PKG"/>
      <CSPApplication 
        Url="/hcd/api"
        DispatchClass="hcd.api.HCDRESTApp"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="1"
        Recurse="1"
        UseCookies="2"
        CookiePath="/hcd/api"
       />
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
